body{
    color: #4a4a4a;
    background-color: #eeeeee
}

.center{
    text-align: center;
    margin: 0 auto;
}
.button-center{
    position: relative;
    left: 38%;
}
.button-card-center{
    position: relative;
    left: 26%;
}
.left{
    text-align: left!important;
}
.title-space{
    padding: 20px;
}
.navbar-menu a:hover{
    color: #f18fac;
}
.active{
    color: #f85e9f;
}
button:focus, input:focus{
    outline: none;
}
.padd-wrapper{
    padding: 50px 0!important;
}
.sd-button{
    background-color: #5d50c6!important;
    border-radius: 0;
    padding: 10px 48px!important;
    margin-top: 20px;
}
.services{
    margin-top: 20px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.sticky + .content {
    padding-top: 102px;
}